<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>회원 메뉴</title>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script type="text/javascript">
function mlogout()
{
	if(!confirm('로그아웃하시겠습니까?')) return;
	
	$.ajax({
		url:'/ezen/member/logout',
		method:'get',
		cache:false,
		dataType:'json',
		success:function(res){
			if(res.isLogout) {
				alert('로그아웃 성공');
				location.href="/ezen/goods/main";
			}
		},
		error:function(xhr,status,err){
			alert(status +'/'+err);
		}
	});
	return false;
}

</script>
</head>
<body>
<h2>회원 메뉴</h2>
<ul>
	<li><a href="/ezen/member/loginForm">로그인</a>/<a href="javascript:mlogout()">로그아웃</a></li>
	<li><a href="/ezen/member/signup">회원가입</a></li>
	<li><a href="/ezen/member/memberInfo">내정보 보기</a></li>
		<ul>
			<li><a th:href="@{'/ezen/goods/orderList/'+${uid}}">주문정보</a></li>
			<li><a href="/ezen/member/updateForm">내정보 수정</a></li>
			<li><a href="/ezen/member/pwdCheckForm">비밀번호 변경</a></li>
			<li>찜리스트</li>
			<li>1:1문의</li>
			<li><a href="/ezen/member/mWithdrawForm">회원탈퇴</a></li>
		</ul>
	<li><a th:href="@{'/ezen/goods/cartList/'+${uid}}">장바구니</a></li>
	
</ul>

</body>
</html>