<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>상품 상세</title>
	<style type="text/css">
		header {height: 50px; border: 1px solid black;}
		#img1 {width: 400px; height: 400px;}
		#img2 {width: 30px; height: 30px;}
		#img3 {width: 30px; height: 30px;}
		#img4 {width: 30px; height: 30px;}
		#img5 {width: 30px; height: 30px;}
		#img6 {width: 900px; }
		#row {float: left; padding-right: 2em;} 
		#clr {clear: left}
		ul.tabs{
					margin: 0px;
					padding: 0px;
					list-style: none;
				}
				
		ul.tabs li{
				  display: inline-block;
					background: #898989;
					color: white;
					padding: 10px 15px;
					cursor: pointer;
				}
				
		ul.tabs li.current{
					background: #e0e0e0;
					color: #222;
				}
				
		.tab-content{
				  display: none;
					background: #e0e0e0;
					padding: 12px;
				}
				
		.tab-content.current{
					display: inherit;
				}
			
	</style>
	<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		
		$('ul.tabs li').click(function(){
			var tab_id = $(this).attr('data-tab');

			$('ul.tabs li').removeClass('current');
			$('.tab-content').removeClass('current');

			$(this).addClass('current');
			$("#"+tab_id).addClass('current');
		})

	});
	</script>
	
	<script type="text/javascript">
		function changeImg(no)
		{
				if ( no == 2 )
				{
					img1.src = img2.src ;
				}else if (no == 3)
				{
					img1.src = img3.src ;
				}
				else if (no == 4)
				{
					img1.src = img4.src ;
				}
				else if (no == 5)
				{
					img1.src = img5.src ;
				}	

			
		}
	</script>
	
	<script type="text/javascript">
		function putInCart()
		{			
			var mnum = document.getElementById('mnum').value;
			
			if (!(mnum > 0)) 
			{
				alert("로그인 이 필요합니다.");
				location.href = "/ezen/member/loginForm";
				return;
			}
				
			if (!confirm("장바구니에 담으시겠습니까")) return ;
			var goodsno  = document.getElementById('Goodsno').value ;
			var goodsQty = document.getElementById('qty').value ;
			var goodsSalePrice = document.getElementById('goodsSalePice').value ;
			var mnum = document.getElementById('mnum').value;
			
			$.ajax({ 
				url : '/ezen/goods/putInCart',
				method  :'post',     // get , post
				data    : {'goodsno' : goodsno, 'goodsSaleQty' : goodsQty, 'goodsSalePrice':goodsSalePrice, 'userno':mnum },		
				cache   : false,      //브라우저가 지금 내용은 기억하지 말라고 하는 명령
				dataType:'json',  // text, json, html, xml
				success:function(res)
				{
					alert(res.putInCart ? "카트 담기 성공" : "카트 담기 실패");
					
					if (confirm("장바구니로 가시겠습니까?"))
					{
						location.href = "/ezen/goods/cartList/"+mnum;	
					}
						
				},
				 error:function(xhr, status, err )
				 {
					 alert('에러:'+ status+'/'+ err);
				 }
			});
		}
	</script>
	<script type="text/javascript">
		function goMain()
		{
			location.href = "/ezen/goods/main";
		}
	</script>	

</head>
<body>
	<main>
	<header>
		<div><p><a href="/ezen/goods/">index</a></div>
	</header>
	
	
	<div id="main">
		<input id="mnum" name="mnum" type="hidden" th:value="${uid}">	
		
				<div id="row">
					<div>						
						<input id="Goodsno" name="Goodsno" type="hidden" th:value="${map.Goodsno}">
 							<div>
								<img id="img1" name="img1" alt="이미지없음" th:src="@{'/images/goods/' + ${map.ImgFileFakeName1}}">																
							</div>
							<div id="imgs">
								<span th:if="${map.ImgFileFakeName2 !='X'} ">
									<img id="img2" th:src="@{'/images/goods/' + ${map.ImgFileFakeName2}}" onclick="changeImg(2);" >
								</span>
															
								<span th:if="${map.ImgFileFakeName3 !='X'}">
									<img id="img3" th:src="@{'/images/goods/' + ${map.ImgFileFakeName3}}" onclick="changeImg(3);" >
								</span>
																
								<span th:if="${map.ImgFileFakeName4 !='X'}">
									<img id="img4" th:src="@{'/images/goods/' + ${map.ImgFileFakeName4}}" onclick="changeImg(4);" >
								</span>
															
								<span th:if="${map.ImgFileFakeName5 !='X'}">
									<img id="img5" th:src="@{'/images/goods/' + ${map.ImgFileFakeName5}}" onclick="changeImg(5);" >
								</span>
							</div>
					</div>
				</div>
				
				<div id="row">
					<div>
						<table>
							<tr>
								<td>
									상품명 : 
								</td>
								<td>
									[[${map.GoodsName}]]
								</td>
							</tr>
							<tr>
								<td>
									주문수량 :
								</td>
								<td>
									<input id="qty" name="qty" type="number" value="1" min="1" max="100"> (남은 재고 수량 : [[${map.GoodsSaleQty}]])
								</td>
							</tr>
							<tr>
								<td>
									소비자 판매가 : 
								</td>
								<td>
									<div id="price"><del>[[${map.GoodsPrice}]] 원</del></div> 
								</td>
							</tr>
							<tr>	
								<td>
									판매가 : 
								</td>
								
								<td>
									<input id="goodsSalePice" name="goodsSalePice" type="hidden" th:value="${map.GoodsSalePrice}">
									<div id="salePrice">[[${map.GoodsSalePrice}]]  원</div> 
								</td>
							</tr>
							<tr>	
								<td>
									배송비 : 
								</td>
								
								<td>
									<div id="deliveryPrice">3,000 원</div> 
								</td>
							</tr>
							<tr>
								<td>
									상세설명 :
								</td>
								<td>
									[[${map.GoodsDetail}]]
								</td>
							</tr>
						</table>
					</div>
					<br><br><br>
					<div>
						<button type="button" onclick="putInCart();">장바구니</button>
						<button type="button" onclick="goMain();">계속쇼핑</button>
					</div>
				</div>
				
				<div id="clr"></div>
				
				<br><br>
				
				<div class="container">
					<ul class="tabs">
						<li class="tab-link current" data-tab="tab-1">상세설명</li>
						<li class="tab-link" data-tab="tab-2">상품평</li>
						<li class="tab-link" data-tab="tab-3">상품문의</li>
					</ul>
					
					<div id="tab-1" class="tab-content current">
						<img id="img6" th:src="@{'/images/goods/' + ${map.ImgFileFakeName6}}">
					</div>
					
					<div id="tab-2" class="tab-content">
						<h1>탭2 내용</h1>
					</div>
					
					<div id="tab-3" class="tab-content">
						<h1>탭3 내용</h1>
					</div>
					
				</div>
		
		</div>
		
		<footer>

	 	footer

	 	</footer>
	</main>
</body>
</html>