<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        				"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen.account.AccountMapper">
	<select id="sellerLogin" parameterType="com.ezen.seller.SellerVO" resultType="com.ezen.seller.SellerVO" >
		SELECT sellernum, adminId, adminpass, sstatus From seller WHERE adminId=#{adminId}
	</select>
	<select id="getsellernum" parameterType="com.ezen.seller.SellerVO" resultType="Integer">
	     SELECT IFNULL(max(sellernum), '0') sellernum from seller where adminid=#{adminId} and adminpass=#{adminpass};
	</select>
	<select id="getsellernumByID" parameterType="String" resultType="Integer" >
		SELECT sellernum FROM seller WHERE adminId=#{adminId}
	</select>
	<select id="sellernumGet" parameterType="com.ezen.seller.SellerVO" resultType="Integer">
	     SELECT IFNULL(max(sellernum), '0') sellernum from seller where adminid=#{adminId} and adminpass=#{adminpass};
	</select>
	<insert id="sellerSignup" parameterType="com.ezen.seller.SellerVO">
		INSERT INTO SELLER VALUES(NULL, #{officeName}, #{sellerName}, #{offRegiNum}, #{officeAdd}, #{busnessNum}, #{busnessOcc}, #{busnessCate}, #{officeEmail}, #{officePhone}, #{officeFax}, #{adminId}, #{adminpass}, #{sellerNick}, #{picName}, #{picEmail}, #{pictel}, #{picphone}, #{csPhone}, #{bankName}, #{accountholder}, #{accountadd}, 'signin', #{signUpDate})
	</insert>
	<select id="sellerIdDuplicate" parameterType="String" resultType="com.ezen.seller.SellerVO" >
			SELECT * FROM seller WHERE adminId=#{adminId}
	</select>
	<select id="sellerIdFinder" parameterType="String" resultType="String">
		SELECT adminId FROM seller WHERE officeEmail=#{officeEmail} AND officePhone=#{officePhone}
	</select>
	<select id="sellerPwdFinder" parameterType="String" resultType="String">
		SELECT adminpass FROM seller WHERE adminId=#{adminId} AND officeEmail=#{officeEmail} AND officePhone=#{officePhone}
	</select>
</mapper> 