<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.seller.SellerMapper">
	<select id="getSeller" resultType="com.ezen.account.Seller" parameterType="Integer">
	SELECT sellernum, officeName, sellerName, offRegiNum, officeAdd, busnessNum, busnessOcc, busnessCate, officeEmail, officePhone, officeFax, sellerNick, picName, picEmail, pictel, csPhone  
		FROM Seller 
		WHERE sellernum=#{sellernum} 
	</select>
	<update id="update"
		parameterType="com.ezen.account.Seller">
		    UPDATE Seller 
    SET officeName=#{officeName}, sellerName=#{sellerName}, offRegiNum=#{offRegiNum}, officeAdd=#{officeAdd},
        busnessNum=#{busnessNum}, busnessOcc=#{busnessOcc}, busnessCate=#{busnessCate},
        officeEmail=#{officeEmail}, officePhone=#{officePhone}, officeFax=#{officeFax},
        sellerNick=#{sellerNick}, picName=#{picName}, picEmail=#{picEmail}, pictel=#{pictel}, csPhone=#{csPhone} 
    WHERE sellernum=#{sellernum}
	</update>
	<update id="pwdChange"
		parameterType="com.ezen.account.Seller">
		    UPDATE Seller SET adminpass=#{adminpass} WHERE sellernum=#{sellernum}
	</update>
	<insert id="lastRequest" parameterType="com.ezen.seller.withdrawalform">
		INSERT INTO withdrawalform VALUES(NULL, #{adminID}, #{adminpass}, #{withres}, #{opinion} )
	</insert>
	<delete id="withdrawal" parameterType="com.ezen.account.Seller">
		DELETE FROM SELLER WHERE sellernum=#{sellernum}
	</delete>
</mapper> 